* {
    padding: 0;
    margin: 0;
}

@font-face { 
    font-family: "Gilroy-Bold";
    src: url("./fonts/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "Gilroy-SemiBold";    
    src: url("./fonts/GilroySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face { 
    font-family: "Gilroy-Medium";    
    src: url("./fonts/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

.center{
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_logo__text2 {
    color: #F25822;
}

.header_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header_link__item {
    color: #000;
    font-family: "Gilroy-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.home {
    font-family: "Gilroy-SemiBold";
    color: #F25822;
}

.top {
    display: flex;
    align-items: center;
    gap: 41px;
    padding-top: 44px;
    padding-bottom: 162px;
}

.top_content__text__heading {
    margin-bottom: 17px;
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_content__text__paragraph {
    padding-right: 97px;
    margin-bottom: 37px;
    color: #888;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_content__buttons {
    display: flex;
    align-items: center;
    gap: 72px;
}

.top_content__button__left {
    padding: 15px 35px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.top_content__button__rigth {
    border: none;
    background: #FFF;
    color: #AAA;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.top__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 97px;
    padding-bottom: 96px;
}