@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;  
  font-family: 'Lato', sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background: #F1E4E6;
}

.header__menu {
  background: #222222;  
}

.header__menu_wrap {
  display: flex;
  justify-content: space-between;
  padding: 18px 19px;
  max-width: 1140px;
  margin: 0 auto;    
}

.header__menu_left {  
  display: flex;  
  align-items: baseline;
  gap: 41px;
}

.header__menu_right {    
  align-items: center;
  display: flex;  
}

.header__wrap {
  position: relative;
}

.header__content {  
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-height: 764px;
  max-width: 1600px;
}

.header__content_img {
  display: block;
  width: 50%;
  height: inherit;
  object-fit: contain;
}

.header__content_heading {
  margin-left: 63px;
  width: 50%;
  align-self: center;
  height: inherit;
  border-left: #F16D7F 12px solid;
  padding-left: 16px;
}

.header__content_heading_brand {
  font-weight: 900;
  line-height: 58px;
  color: #222222;
  font-size: 48px;    
  font-style: normal;    
}

.header__content_heading_lux {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #222;  
  font-style: normal;
}

.header__content_heading_fashion {
  color: #F16D7F;
}

.category {  
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  padding-top: 65px;
  padding-bottom: 65px;
}

.category__items {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.category__background {
  position: absolute;
}

.category__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  font-style: normal;
  text-align: center;
  z-index: 1;
}

.for_acces {
  width: 1140px;
  height: 180px;
}

.category__heading_text {
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
}

.item__women {
  background: url(./images/women1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.item__men {
  background: url(./images/men.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.item__kids {
  background: url(./images/kids.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.item__accesories {  
  grid-column: 1/4;
  background: url(./images/accesories.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.fetured {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 60px;
}

.fetured__heading {
  margin-bottom: 6px;
  text-align: center;
  font-weight: 400;  
  color: #222222;
  font-size: 30px;    
  line-height: normal;
  font-style: normal;
}

.fetured__paragraph {
  text-align: center;  
  margin-bottom: 49px;
  color: #9F9F9F;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
}






























































.b-card:hover .b-card__wrapBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-card__wrap {
  position: relative;
}

.b-card__wrap .b-card__img {
  display: block;
  width: 100%;
}

.b-card__wrapBtn {
  display: none;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(58, 56, 56, 0.86);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.b-card__wrapBtn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 13px;
  background: none;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.b-card__wrapBtn button img {
  margin-right: 11px;
}

.b-card__info {
  background: #F8F8F8;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 16px;
}

.b-card__infoItem {
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  font-size: 13px;
}

.b-card__infoText {
  padding-top: 13px;
  color: #5D5D5D;
  font-weight: 300;
}

.b-card__infoPrice {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  padding-top: 18px;
}





.b-menu__quantityCart {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  top: 17px;
  right: 99px;
  border-radius: 50%;
  padding: 3px 6px;
  top: -5px;
  right: -15px;
}

.b-menu__cart {
  position: absolute;
  background: white;
  width: 450px;
  right: 0;
  top: 35px;
  padding: 10px;
  line-height: 30px;
  color: #6F6E6E;
  font-size: 16px;
  font-weight: 300;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  display: none;
}

.b-menu__cartWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
}

.b-menu__cartItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px solid #6F6E6E;
}

.b-menu__cart_active {
  display: block;
}

.b-heading {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-heading__left a {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-decoration: none;
}

.b-heading__right a {
  text-decoration: none;
  color: #636363;
  font-weight: 300;
}

.b-heading__right a:hover {
  color: #F16D7F;
}

.b-heading__right_disabled {
  display: none;
}














.b-sizePop {
  padding: 7px 9.5px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
  height: 103px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-sizePop__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #6F6E6E;
}

.b-sizePop input {
  margin-right: 9.5px;
  margin-bottom: 10px;
  border: 1px solid #EBEBEB;
}

.b-nav__sizePop {
  position: absolute;
  z-index: 1;
  display: none;
}

.b-cart__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 306px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.b-cart__cardImg {
  display: block;
  height: inherit;
  max-width: 100%;
}

.b-cart__cardInfo {
  padding-top: 20px;
  padding-left: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}



.b-cart__cardInfo h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}



.b-cart__cardInfo ul {
  list-style-type: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  color: #575757;
}



.b-cart__cardInfo ul li span {
  margin-left: 12px;
}



.b-cart__cardInfo ul li:first-child span {
  color: #EF5B70;
}

.b-cart__cardInfo ul li:last-child span {
  margin-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
  padding: 0.5px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-cart__cardInfo img {
  height: 18px;
  width: 18px;
  margin-top: 7px;
  margin-right: 22px;
}

















.fetured__cardBlock {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  padding-bottom: 48.5px;
}





.fetured__button {
  text-decoration: none;
  border: 1px solid #FF6A6A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14.5px 38.5px;
  color: #FF6A6A;
}

.fetured__button:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

















  

.nav__low a:nth-child(7),
.nav__low a:nth-child(8),
.nav__low a:nth-child(10) {
  margin-right: 0;
}

.product__container {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F7F7F7;
  min-height: 777px;
}

@media (max-width: 1024px) {
  .product__container {
    min-height: 624px;
    position: relative;
  }
}

.product__container .product__arrow {
  background: rgba(42, 42, 42, 0.15);
  height: 47px;
  width: 47px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 12px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product__container .product__model {
  display: block;
  margin-bottom: 41px;
  margin-top: 11px;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .product__container .product__model {
    margin-bottom: 29px;
    margin-top: 30px;
  }
}

@media (max-width: 667px) {
  .product__container .product__model {
    margin-bottom: 85px;
    margin-top: 85px;
  }
}

@media (max-width: 700px) {
  .product__container div:first-child {
    position: absolute;
    left: 0;
  }
}

@media (max-width: 700px) {
  .product__container div:last-child {
    position: absolute;
    right: 0;
  }
}

.moschino {
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -64px;
  background: #FFFFFF;
  padding-top: 65px;
  padding-bottom: 65px;
  margin-bottom: 128px;
  position: relative;
}

@media (max-width: 1024px) {
  .moschino {
    margin: 0 !important;
  }
}

.moschino__heading {
  color: #F16D7F;
  font-weight: 300;
  margin-bottom: 12px;
}

.moschino__borderLine {
  background: #EF5B70;
  height: 3px;
  width: 63px;
}

.moschino__info {
  text-align: center;
  padding-bottom: 65px;
  padding-top: 12px;
  max-width: 555px;
}

@media (max-width: 667px) {
  .moschino__info {
    max-width: 326px;
    padding-bottom: 32px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

.moschino__infoHeading {
  font-weight: 300;
  line-height: 22px;
  font-size: 18px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.moschino__infoText {
  color: #5E5E5E;
  font-weight: 300;
  margin-bottom: 32px;
}

.moschino__info span {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.moschino hr {
  border: 1px solid #EAEAEA;
  width: 641px;
  margin-bottom: 65px;
}

@media (max-width: 667px) {
  .moschino hr {
    width: 175px;
    margin-bottom: 50px;
  }
}

.moschino__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 49px;
}

@media (max-width: 667px) {
  .moschino__nav {
    margin-bottom: 65px;
  }
}

.moschino__nav a {
  color: #6F6E6E;
  font-weight: 400;
  text-decoration: none;
  margin-left: 23px;
  margin-right: 9px;
}

@media (max-width: 667px) {
  .moschino__nav a {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #6F6E6E;
    margin-right: 5px;
    margin-left: 15px;
  }
}

.moschino__button {
  border: 1px solid #FF6A6A;
  padding: 14px 56px 8px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moschino__button a {
  margin-left: 23px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.product__cards {
  display: -ms-grid;
  display: grid;
  margin-bottom: 128px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 30px;
}

@media (max-width: 1024px) {
  .product__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 128px;
    gap: 16px;
  }
}

@media (max-width: 667px) {
  .product__cards {
    margin-bottom: 64px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

.cart__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 652px 1fr;
      grid-template-columns: 652px 1fr;
  -ms-grid-rows: (1fr)[2] 49px;
      grid-template-rows: repeat(2, 1fr) 49px;
  row-gap: 40px;
  -webkit-column-gap: 128px;
          column-gap: 128px;
  margin-top: 96px;
  margin-bottom: 128px;
}

@media (max-width: 1140px) {
  .cart__content {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (max-width: 1024px) {
  .cart__content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 15px;
            column-gap: 15px;
    -ms-grid-rows: (306px)[2] 96px 271px;
        grid-template-rows: repeat(2, 306px) 96px 271px;
    margin-top: 59px;
  }
}

@media (max-width: 667px) {
  .cart__content {
    margin-top: 39px;
    margin-bottom: 96px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    row-gap: 30px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.cart__content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 17px;
}

@media (max-width: 1024px) {
  .cart__content form {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    padding-top: 0;
  }
}

@media (max-width: 667px) {
  .cart__content form {
    padding-top: 18px;
  }
}

.cart__content form h3 {
  font-weight: 300;
  line-height: 19px;
  font-size: 16px;
  color: #222222;
  margin-bottom: 20px;
}

.cart__content form input {
  border: 1px solid #A4A4A4;
  width: inherit;
  height: 44px;
  margin-bottom: 21px;
  padding-left: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart__content form button {
  width: 100px;
  height: 34px;
  background: none;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-top: 3px;
  text-transform: uppercase;
}

@media (max-width: 667px) {
  .cart__content form button {
    text-transform: none;
  }
}

.cart__content .cart__proceed {
  background: #F5F3F3;
  height: 214px;
  padding: 39px 34px 42px 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: end;
}

@media (max-width: 1024px) {
  .cart__content .cart__proceed {
    margin-top: 38px;
  }
}

@media (max-width: 667px) {
  .cart__content .cart__proceed {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin-top: 18px;
  }
}

.cart__content .cart__proceed h4 {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart__content .cart__proceed h4 span {
  margin-left: 30px;
}

.cart__content .cart__proceed h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
  margin-bottom: 21px;
}

.cart__content .cart__proceed h2 span {
  font-weight: 700;
  margin-left: 30px;
  margin-right: 3px;
  color: #F16D7F;
}

.cart__content .cart__proceedLine {
  border: 1px solid #E2E2E2;
}

.cart__content .cart__proceed button {
  height: 50px;
  margin-top: 11px;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
}

@media (max-width: 667px) {
  .cart__content .cart__proceed button {
    margin-top: 17px;
  }
}

.cart__content .cart__buttons {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .cart__content .cart__buttons {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 22px;
  }
}

@media (max-width: 667px) {
  .cart__content .cart__buttons {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin-top: 0;
  }
}

.cart__content .cart__buttons button {
  border: 1px solid #A4A4A4;
  background: none;
  height: 50px;
  width: 225px;
  color: #000000;
  font-weight: 300;
  text-transform: uppercase;
}

@media (max-width: 667px) {
  .cart__content .cart__buttons button {
    height: 32px;
    max-width: 174px;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
  }
}

@media (max-width: 374px) {
  .cart__content .cart__buttons button {
    max-width: 144px;
  }
}

.registration {
  margin-top: 64px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .registration {
    margin-top: 40px;
  }
}

@media (max-width: 668px) {
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 668px) {
  .registration__form {
    margin-bottom: 40px;
  }
}

.registration__form h5 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration__formText {
  display: block;
  width: inherit;
  height: 44px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
  font-size: 13px;
  padding-left: 16px;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration__form .first_name,
.registration__form .email {
  margin-bottom: 21px;
}

.registration__formMale {
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__formMale .registration__maleItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration__form .other {
  display: none;
}

@media (max-width: 1024px) {
  .registration__form .other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.registration__form .male_text {
  font-weight: 300;
  line-height: 13px;
  font-size: 11px;
  color: #000000;
  margin-right: 20px;
  margin-left: 10px;
}

.registration__form p {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
}

.registration__form button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F16D7F;
  padding: 16px 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
}

.registration__form button img {
  margin-left: 20px;
}

.registration__formLogin {
  margin-top: 33px;
  margin-bottom: 20px;
}

.registration__loyalty {
  margin-left: 128px;
}

@media (max-width: 1024px) {
  .registration__loyalty {
    margin-left: 22px;
  }
}

.registration__loyalty h2,
.registration__loyalty p,
.registration__loyalty ul {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 1024px) {
  .registration__loyalty h2,
  .registration__loyalty p,
  .registration__loyalty ul {
    font-size: 16px;
    line-height: 19px;
  }
}

.registration__loyalty h2 {
  margin-bottom: 22px;
}

.registration__loyalty p {
  margin-bottom: 21px;
}

.registration__loyalty ul {
  margin-left: 27px;
  list-style-image: url(images/listCheck.svg);
}

.registration__loyalty ul li {
  margin-bottom: 16px;
  padding-left: 23px;
}

.advantage {
  background: #222224;
}

.advantage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 104px;
  padding-top: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .advantage__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 667px) {
  .advantage__content {
    padding-top: 48px;
    padding-bottom: 81px;
  }
}

.footer .feedback {
  background: url(images/surf.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.footer .feedbackBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 156px;
  padding-top: 90px;
}

@media (max-width: 1024px) {
  .footer .feedbackBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 53px;
    padding-bottom: 140px;
  }
}

@media (max-width: 667px) {
  .footer .feedbackBlock {
    padding-top: 53px;
    padding-bottom: 109px;
  }
}

.footer .feedbackBlock__comment {
  text-align: center;
  max-width: 360px;
}

@media (max-width: 1024px) {
  .footer .feedbackBlock__comment {
    padding-bottom: 60px;
  }
}

.footer .feedbackBlock__comment p {
  padding-top: 40px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  font-size: 20px;
  color: #222224;
}

@media (max-width: 667px) {
  .footer .feedbackBlock__comment p {
    font-size: 18px;
    line-height: 22px;
  }
}

.footer .feedbackBlock__comment img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.footer .feedbackBlock__comment img:hover {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
}

.footer .feedbackBlock__subscribe {
  text-align: center;
}

.footer .feedbackBlock__subscribe h3 {
  font-weight: 700;
  line-height: 35px;
  font-size: 24px;
  color: #222224;
  text-align: center;
  padding-bottom: 32px;
}

@media (max-width: 1024px) {
  .footer .feedbackBlock__subscribe h3 {
    padding-bottom: 27px;
  }
}

.footer .feedbackBlock__subscribe h3 span {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

@media (max-width: 667px) {
  .footer .feedbackBlock__subscribe h3 span {
    font-size: 14px;
    line-height: 21px;
  }
}

.footer__copy {
  background: #222224;
  height: 79px;
}

@media (max-width: 667px) {
  .footer__copy {
    height: 143px;
    padding-bottom: 9px;
  }
}

.footer__copy .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

@media (max-width: 667px) {
  .footer__copy .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__copy .footer__container .footer__copyText {
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */