@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header__menu {
  background: #222222;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 19px;
}

.header__menu_left {
  display: flex;
  align-items: baseline;
  gap: 41px;
}

.header__menu_right {
  align-items: center;
  display: flex;
  gap: 30px;
}

.header__menu_icon_hover:hover path {
  fill: #F16D7F;
}

.top {
  background: #F1E4E6;
  display: flex;
  padding-right: calc(50% - 800px);
  padding-left: calc(50% - 800px);
}

.top__img {
  display: block;
  width: 50%;
}

.top__heading {
  margin-left: 63px;
  align-self: center;
  height: inherit;
  border-left: #F16D7F 12px solid;
  padding-left: 16px;
  width: 50%;
}

.top__heading_brand {
  font-weight: 900;
  line-height: normal;
  color: #222222;
  font-size: 48px;
  font-style: normal;
}

.top__heading_lux {
  font-weight: 700;
  font-size: 32px;
  line-height: normal;
  color: #222;
  font-style: normal;
}

.top__heading_fashion {
  color: #F16D7F;
}

.category {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  padding-top: 65px;
  padding-bottom: 65px;
}

.category__items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(33, 22, 22, 0.70);
}

.category__item_img {
  display: block;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.item__accesories {
  grid-column: 1/4;
}

.category__heading {
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  font-style: normal;
  text-align: center;
}

.category__heading_text {
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
}

.fetured {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 60px;
}

.fetured__heading {
  margin-bottom: 6px;
  text-align: center;
  font-weight: 400;
  color: #222222;
  font-size: 30px;
  line-height: normal;
  font-style: normal;
}

.fetured__paragraph {
  text-align: center;
  margin-bottom: 49px;
  color: #9F9F9F;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  font-size: 14px;
}

.fetured__cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(2, 581px);
  margin-bottom: 48px;
}

.card__img {
  display: block;
  width: 100%;
}

.card__wrap {
  position: relative;
}

.card__wrap_btn {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: rgba(58, 56, 56, 0.86);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card__button {
  display: flex;
  gap: 11px;
  align-items: center;
  color: #FFFFFF;
  font-weight: 400;
  box-sizing: border-box;
  padding: 11px 16px 9px 13px;
  background: none;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  font-size: 14px;
}

.card:hover .card__wrap_btn {
  display: flex;
}

.card__info {
  background: #F8F8F8;
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 18px;
}

.card__info_heading {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 13px;
}

.card__info_paragraph {
  margin-bottom: 18px;
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card__info_price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fetured__button {
  border: 1px solid #FF6A6A;
  box-sizing: border-box;
  padding: 14.5px 38.5px;
  color: #FF6A6A;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
}

.fetured__button:active {
  color: #fff;
  background: #FF6A6A;
}

.advantage {
  background: #222224;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  padding-bottom: 104px;
  padding-top: 104px;
  align-items: center;
}

.advantage__item {
  text-align: center;
}

.advantage__item_heading {
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: #FBFBFB;
  font-size: 19.96px;
  margin-top: 19px;
}

.advantage__item_paragraph {
  margin-top: 16px;
  font-weight: 300;
  line-height: normal;
  font-size: 13.972px;
  color: #FBFBFB;
  text-align: center;
}

.subscribe {
  display: flex;
  padding-top: 97px;
  padding-bottom: 126px;
  justify-content: space-between;
  background-image: url(./images/photo\ subscribe.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.subscribe__comment {
  text-align: center;
  max-width: 360px;
}

.subscribe__comment_text {
  margin-top: 30px;
  color: #222224;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe__form {
  text-align: center;
  padding-left: 134px;
  padding-right: 134px;
}

.subscribe__form_heading {
  color: #222224;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.subscribe__form_paragraph {
  color: #222224;
  margin-bottom: 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.subscribe__form_input {
  display: flex;
  justify-content: center;
}

.subscribe__form_input_email {
  opacity: 0.67;
  background: #E1E1E1;
  box-sizing: border-box;
  background-size: cover;
  border: none;
  padding: 14px 22px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.subscribe__form_input_btn {
  text-decoration: none;
  background: #E05C6E;
  padding: 10px 22px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  display: block;
  border: none;
  color: #fff;
  cursor: pointer;
}

.footer {
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 23px;
}

.footer__copy {
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__social {
  display: flex;
  justify-content: space-between;
}

.footer__social_icon {
  background: #FFFFFF;
  text-decoration: none;
  box-sizing: border-box;
  margin-right: 7px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social_icon:hover path {
  fill: #fff;
}

.footer__social_icon:hover {
  background-color: #F16D7F;
}


@media(max-width: 1140px) {
  .center {
    padding-left: calc(50% - 512px);
    padding-right: calc(50% - 512px);
  }

  .category {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: 235px 160px;
  }

  .fetured__cards {
    grid-template-columns: repeat(3, 320px);
  }

  .advantage {
    grid-template-columns: repeat(3, 320px);
  }
}

@media(max-width: 1024px) {
  .center {
    padding-left: calc(50% - 367px);
    padding-right: calc(50% - 367px);
  }

  .top__heading_brand {
    font-size: 44px;
  }

  .top__heading_lux {
    font-size: 24px;
  }

  .category {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 232px);
    grid-template-rows: 167px 116px;

  }

  .fetured {
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .fetured__paragraph {
    margin-bottom: 73px;
  }

  .fetured__cards {
    grid-gap: 16px;
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: repeat(3, 581px);
    margin-bottom: 32px;
  }

  .advantage {
    flex-direction: column;
    gap: 48px;
    grid-template-columns: 360px;
    padding-top: 48px;
    padding-bottom: 64px;
    justify-content: center;
  }

  .subscribe {
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 140px;
    gap: 59px;
  }

  .subscribe__form {
    padding-left: 0;
    padding-right: 0;
  }

  .subscribe__form_heading {
    line-height: 162%;
  }

  .subscribe__form_paragraph {
    line-height: 162%;
    margin-bottom: 27px;
  }
}

@media(max-width: 767px) {
  .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }

  .header__menu_right_icon {
    display: none;
  }

  .top__img {
    display: none;
  }

  .top {
    justify-content: center;
    padding-bottom: 149px;
    padding-top: 148px;
  }

  .top__heading {
    margin: 0;
    width: auto;
    padding-left: 15px;
  }

  .top__heading_brand {
    font-size: 38px;
  }

  .top__heading_lux {
    font-size: 20px;
  }

  .category {
    grid-gap: 32px;
    grid-template-columns: 343px;
    grid-template-rows: 247px 248px 249px 111px;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: center;
  }

  .item__accesories {
    grid-column: 1;
  }

  .category__item_img {
    height: 100%;
  }

  .fetured {
    padding-bottom: 85px;
  }

  .fetured__heading {
    margin-bottom: 3px;
  }

  .fetured__paragraph {
    margin-bottom: 65px;
  }

  .fetured__cards {
    grid-template-columns: 360px;
    grid-template-rows: repeat(6, 581px);
    margin-bottom: 40px;
  }

  .advantage {
    padding-top: 48px;
    padding-bottom: 81px;
    gap: 47px;
    grid-template-columns: 348px;
  }

  .advantage__item_heading {
    margin-top: 18px;
  }

  .subscribe {
    padding-bottom: 110px;
  }

  .subscribe__comment_img {
    width: 92px;
    height: 92px;
  }

  .subscribe__comment_text {
    margin-top: 29px;
  }

  .subscribe__form_heading {
    line-height: 153.2%;
  }

  .subscribe__form_paragraph {
    line-height: 153.2%;
    font-size: 14px;
    margin-bottom: 22px;
  }

  .footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
}

@media(max-width: 359px) {
  .center {
    padding-left: calc(50% - 160px);
    padding-right: calc(50% - 160px);
  }

  .category {
    grid-template-columns: 318px;
    grid-template-rows: 247px 248px 249px 111px;
  }

  .fetured__cards {
    grid-template-columns: 318px;
    grid-template-rows: repeat(6, 581px);
  }

  .advantage {
    grid-template-columns: 318px;
  }
}