@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;  
  font-family: 'Lato', sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background: #F1E4E6;
}

.header__menu {
  background: #222222;  
}

.header__menu_wrap {
  display: flex;
  justify-content: space-between;
  padding: 18px 19px;
  max-width: 1140px;
  margin: 0 auto;    
}

.header__menu_left {  
  display: flex;  
  align-items: baseline;
  gap: 41px;
}

.header__menu_right {    
  align-items: center;
  display: flex;  
}

.header__wrap {
  position: relative;
}

.header__content {  
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-height: 764px;
  max-width: 1600px;
}

.header__content_img {
  display: block;
  width: 50%;
  height: inherit;
  object-fit: contain;
}

.header__content_heading {
  margin-left: 63px;
  width: 50%;
  align-self: center;
  height: inherit;
  border-left: #F16D7F 12px solid;
  padding-left: 16px;
}

.header__content_heading_brand {
  font-weight: 900;
  line-height: 58px;
  color: #222222;
  font-size: 48px;    
  font-style: normal;    
}

.header__content_heading_lux {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #222;  
  font-style: normal;
}

.header__content_heading_fashion {
  color: #F16D7F;
}

.category {  
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  padding-top: 65px;
  padding-bottom: 65px;
}

.category__items {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.category__background {
  position: absolute;
}

.category__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  font-style: normal;
  text-align: center;
  z-index: 1;
}

.for_acces {
  width: 1140px;
  height: 180px;
}

.category__heading_text {
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
}

.item__women {
  background: url(./images/women1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.item__men {
  background: url(./images/men.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.item__kids {
  background: url(./images/kids.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.item__accesories {  
  grid-column: 1/4;
  background: url(./images/accesories.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.fetured {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 60px;
}

.fetured__heading {
  margin-bottom: 6px;
  text-align: center;
  font-weight: 400;  
  color: #222222;
  font-size: 30px;    
  line-height: normal;
  font-style: normal;
}

.fetured__paragraph {
  text-align: center;  
  margin-bottom: 49px;
  color: #9F9F9F;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
}

.fetured__cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 48px;
}

.card__img {
  display: block;
  width: 100%;
}

.card__info {
  background: #F8F8F8;
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 18px;
}

.card__info_heading {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 13px;
}

.card__info_paragraph { 
  margin-bottom: 18px; 
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card__info_price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fetured__button {
  text-decoration: none;
  border: 1px solid #FF6A6A;
  box-sizing: border-box;
  padding: 14.5px 38.5px;
  color: #FF6A6A;
}
